{% extends 'layout.html' %} {% block title %} Jangle Chat {% endblock title %} {% block body %}
<div class="container">
    <div class="row pt-3">
        <div class="col">
            <h2 class="text-center" id="heading">Jangle Chat</h3>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <h4 class="text-center">Welcome <b id="display_name"></b>!</h4>
            <p id="local_storage"></p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-7 col-sm-7 col-7 px-3 mx-3">
            <form>
                <div class="form-group row">
                    <label for="create_channel" class="col-form-label">Create Channel:</label>
                    <input type="text" class="form-control" id="create_channel_name" name="create_channel" onkeypress="return event.keyCode != 13;">
                </div>
                <div class="form-group row">
                    <button type="button" class="btn btn-info" id="create_channel_button">Create</button>
                </div>
            </form>
            <div class="row">
                <div class="col">
                    <h5 class="pt-2 text-center text-warning" id="channel_name_heading"></h5>
                </div>
            </div>

            <div id="chat_box_window">
                <div class="row">
                    <div class="col overflow-auto border border-warning shadow rounded" id="chat_box">
                        <div class="overflow-auto">
                            <p class="chat-box-text" id="chat_box_text"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-0">
                        <form>
                            <div class="input-group" id="chat_input">
                                <input type="text" class="form-control" id="chat_input_text" name="chat_input_text" onkeypress="return event.keyCode != 13;">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-warning" id="chat_input_button" name="chat_input_button"><i class="fa fa-comment"></i></button>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-outline-danger dropdown-toggle" id="userColor" data-toggle="dropdown">
                                        Username color
                                    </button>
                                    <div class="dropdown-menu">
                                        <a href="#" class="dropdown-item text-warning username-color" data-value="text-warning">Amber</a>
                                        <a href="#" class="dropdown-item text-danger username-color" data-value="text-danger">Red</a>
                                        <a href="#" class="dropdown-item text-info username-color" data-value="text-info">Teal</a>
                                        <a href="#" class="dropdown-item text-success username-color" data-value="text-success">Green</a>
                                        <a href="#" class="dropdown-item text-secondary username-color" data-value="text-secondary">Grey</a>
                                        <a href="#" class="dropdown-item text-dark username-color" data-value="text-dark">Black</a>
                                        <a href="#" class="dropdown-item text-primary username-color" data-value="text-primary">Blue</a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-outline-warning dropdown-toggle" type="button" id="def_text_color" data-toggle="dropdown">
                                        Default text color
                                    </button>
                                    <div class="dropdown-menu" id="def_text_color_list">
                                        <a href="#" class="dropdown-item text-warning def-text-color" data-value="text-warning">Amber</a>
                                        <a href="#" class="dropdown-item text-danger def-text-color" data-value="text-danger">Red</a>
                                        <a href="#" class="dropdown-item text-info def-text-color" data-value="text-info">Teal</a>
                                        <a href="#" class="dropdown-item text-success def-text-color" data-value="text-success">Green</a>
                                        <a href="#" class="dropdown-item text-secondary def-text-color" data-value="text-secondary">Grey</a>
                                        <a href="#" class="dropdown-item text-dark def-text-color" data-value="text-dark">Black</a>
                                        <a href="#" class="dropdown-item text-primary def-text-color" data-value="text-primary">Blue</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="text_style" data-toggle="dropdown">
                                        Text style
                                    </button>
                                    <div class="dropdown-menu" id="text_style_list">
                                        <a href="#" class="dropdown-item text-style" data-value="bold"><b>Bold</b></a>
                                        <a href="#" class="dropdown-item text-style" data-value="italic"><i>Italics</i></a>
                                        <a href="#" class="dropdown-item text-style" data-value="underline"><u>Underline</u></a>
                                        <a href="#" class="dropdown-item text-style" data-value="heading">
                                            <h4>BIG</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="text_color" data-toggle="dropdown">
                                        Text color
                                    </button>
                                    <div class="dropdown-menu" id="text_color_list">
                                        <a href="#" class="dropdown-item text-color" data-value="red" style="color:red">Red</a>
                                        <a href="#" class="dropdown-item text-color" data-value="orange" style="color:orange">Orange</a>
                                        <a href="#" class="dropdown-item text-color" data-value="yellow" style="color:yellow">Yellow</a>
                                        <a href="#" class="dropdown-item text-color" data-value="green" style="color:green">Green</a>
                                        <a href="#" class="dropdown-item text-color" data-value="blue" style="color:blue">Blue</a>
                                        <a href="#" class="dropdown-item text-color" data-value="purple" style="color:purple">Purple</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-4 col-4">
            <div class="row">
                <div class="col pb-3 border border-info shadow rounded" id="channel_box">
                    <h5 class="pt-2 text-info">Channels:</h5>
                    <div class="list-group" id="channel_list">
                        {% for channel in channels %}
                        <a href="#" class="list-group list-group-item-action text-info channel-select" name="{{channel.name}}">{{channel.name}}</a> {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col border border-danger shadow rounded" id="user_box">
                    <h5 class="pt-2 text-danger">Users:</h5>
                    <div class="list-group">
                        <ul id="user_list">
                            {% for user in users %}
                            <li class="text-danger" name="{{user}}">{{user}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}