#chat_box {
    min-height: 300px;
    height: auto;
}

.chat-box-text {
    color: red;
}

#channel_box {
    height: auto;
}

#user_list {
    list-style-type: none;
    padding-left: 0;
}

.container {
    min-height: 100%;
}

html,
body {
    height: 100%;
}