#chat_box {
    min-height: 100px;
    height: auto;
    max-height: 300px;
}

.chat-box-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

#channel_box {
    height: auto;
}

#user_list {
    list-style-type: none;
    padding-left: 0;
}

.container {
    min-height: 100%;
}

html,
body {
    height: 100%;
}

.timestamp {
    color: gray;
    font-size: 12px;
}

.username {
    color: black;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f0ad4e;
}

::-webkit-scrollbar-thumb {
    background: gray;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}